<div class="container"></div>
<div class="container forgot-body">
  <p class="login-title">Forgot Password</p>
  <p class="login-title-sub">Enter your username below to have a new password sent to your email address</p>

  <div class="row justify-content-center">
    <form [formGroup]="forgotForm" (ngSubmit)="reset()" class="form-login">
      <input formControlName="username" type="text" id="username" class="form-control" placeholder="Username" />

      <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
        <div *ngIf="username.errors.required">Username is required</div>
        <div *ngIf="username.errors.minlength">Username min length {{username.errors.minlength.requiredLength}}</div>
        <div *ngIf="username.errors.cannotContainSpace">Username Cannot contain space</div>
      </div>

      <div class="row justify-content-center">
        <button type="submit" class="btn btn-lg btn-warning login-btn">Reset</button>
      </div>

      <!-- *ngIf="showLoginFail" -->
  

    </form>

  </div>

  <div class="alert alert-success" role="alert" style="margin-top: 30px; text-align: center;" *ngIf="sendEmail">
    A new password has been sent. You should receive it shortly
  </div>

  <div class="row justify-content-center" style="height: 100px;">
    <p class="login-title-sub" style="padding-top: 20px;">Need help? Contact the <a>System Administrator</a> for support
    </p>
  </div>
</div>