<div class="header-contain-fluid" >
    <div class="container header-contain">
        <div class="row">
            <div class="col-md-auto logo">
                <img src="assets/img/logo.png" class="logo">
            </div>
            <div class="col-md-auto vl header-text">
                VA Clain Payment <br>Automation Testing Tool
            </div>
            <div *ngIf="showMenu" class="col text-right header-menu-text">
                Menu
            </div>
            <div *ngIf="showMenu" class="col-auto text-right">                
                <div class="btn-group">
                    <button type="button"  style="font-size: 20px;font-weight: bold;"
                        class="btn dropdown-toggle" 
                        data-toggle="dropdown" 
                        data-display="static" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                      <!-- Menu&nbsp;&nbsp;&nbsp; -->
                      
                      <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg-right" style="width: 250px;">
                      <button class="dropdown-item" type="button" (click)="onMenuClick(menuEnum.DashBoard)">Dashboard <i style="float: right;" class="fa fa-bars fa-1x" aria-hidden="true"></i></button>
                      <button class="dropdown-item" type="button" (click)="onMenuClick(menuEnum.ValidationTool)">Validation Tool  <i style="float: right;" class="fa fa-table" aria-hidden="true"></i></button>
                      <button class="dropdown-item" type="button" (click)="onMenuClick(menuEnum.Profile)">Edit Profile <i style="float: right;" class="fa fa-user" aria-hidden="true"></i></button>
                      <button [hidden]="!isAdmin" class="dropdown-item" type="button" (click)="onMenuClick(menuEnum.Administration)">User Administration <i style="float: right;" class="fa fa-users" aria-hidden="true"></i></button>
                      <button class="dropdown-item" type="button" (click)="onMenuClick(menuEnum.SignOut)">Sign Out <i style="float: right;" class="fa fa-sign-out" aria-hidden="true"></i></button>
                    </div>                    
                  </div>
            </div>
            <!-- <div class="col header-text">
                <p>VA Clain Payment <br>Automation Testing Tool</p>
                
            </div> -->
        </div>

    </div>
    
</div>

