<div class="container" style="background-color: white;">
    <form>
        <div class="form-group row">
            <label for="Data Type" class="col-sm-2 col-form-label">Data Type</label>
            <select id="inputDataType" class="form-control col-sm-2">
                <option selected>Choose...</option>
                <option>...</option>
            </select>        
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Input File</label>
        </div>
    </form>
    <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
        <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
      </div>
        <div  class="files-list" *ngFor="let file of files;let i=index">
          <p>{{ file }}</p>
          <button class="delete-file" (click)="deleteAttachment(i)">
            <img src="../../assets/Recycle_Bin_Full.png">
          </button>
        </div>

</div>
