<div class="loading-page">
    <div class="container">
        <button type="button" class="btn btn-primary">New Validation</button>
    </div>
    <div class="container">
        <form>
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Report Search</legend>
                <div class="form-row">
                    <div class="col-4">
                        <div class="form-group row">
                            <label for="startTime"
                                class="search-form-label col-form-label col-form-label-sm">From</label>
                            <div class="search-form-input input-group">
                                <input class="form-control form-control-sm" placeholder="MM/DD/YYYY" name="dp"
                                    [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                        type="button"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="endTime" class="search-form-label col-form-label col-form-label-sm">To</label>
                            <div class="search-form-input input-group">
                                <input class="form-control form-control-sm" placeholder="MM/DD/YYYY" name="dp"
                                    [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                        type="button"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="status"
                                class="search-form-label col-form-label col-form-label-sm">Status</label>
                            <div class="search-form-input">
                                <select id="inputState" class="form-control form-control-sm">
                                    <option selected>-Select-</option>
                                    <option *ngFor="let status of statuses">{{status}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="dataType" class="search-form-label col-form-label col-form-label-sm">Data
                                Type</label>
                            <div class="search-form-input">
                                <select id="dataType" class="form-control form-control-sm">
                                    <option selected>-Select-</option>
                                    <option *ngFor="let type of dataTypes">{{type.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

    <!-- <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Data Type</th>
                    <th scope="col">Input File Name</th>
                    <th scope="col">Run Date/Time</th>
                    <th scope="col">Status</th>
                    <th scope="col">Report</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let validation of validations">
                    <td>{{ validation.dataType.name }}</td>
                    <td>
                        <a href="#" class="stretched-link">{{ validation.inputFileName }}</a>
                    </td>
                    <td>{{ validation.runTime }}</td>
                    <td>{{ validation.status }}</td>
                    <td>
                        <a href="#" class="stretched-link">Report</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="refreshValidations()">
            </ngb-pagination>
        </div>
    </div> -->
</div>