.loading-page {
    border-style: hidden solid solid solid;
    border-width: 0.5px;
    height: 100%;
    margin-top: -8px;
}

fieldset.search-form-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.search-form-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

.search-form-label {
    width: 80px;
    text-align: right;
}

.search-form-input {
    width: 160px;
    margin-left: 10px;
}

.paging {
    height: 50px;
    width: 100%;
    position: absolute;
    margin-top: 0px;
    margin-left: -120px;
    bottom: -100px;
}

.inprogress {
    color: gray;
}

.failed {
    color: red
}

.passed {
    color: green;
}